/*

background colors
#020b1a 
#efd394
#ffefca
#6d4d36

text colors
#020b1a
#ffefca
*/

body {
  box-sizing: border-box;
  font-family: "Times New Roman", Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #ffefca;
}

p {
  margin: 0;
}

.founders-img {
  width: 500px;
  height: auto;
}

.amped-paws-logo {
  width: 50px;
  height: auto;
}

/* .header { */
/*   height: 60vh; */
/*   background-color: #584738; */
/*   border-bottom: 4mm ridge rgb(18 2 2 / 0.6); */
/*   color: #faf4e1; */
/*   padding: 1em; */
/* } */
