/*

background colors
#020b1a 
#efd394
#ffefca
#6d4d36

text colors
#020b1a
#ffefca
*/

* {
  box-sizing: border-box;
  font-family: "Times New Roman", Arial, Helvetica, sans-serif;
  color: #020b1a;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffefca;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  color: #ffefca;
  text-decoration: none;
}

.header-container {
  height: 60vh;
  background-color: #020b1a;
  border-bottom: 4mm ridge rgb(109 77 54 / 0.6);
  color: #faf4e1;
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.header-container,
.footer-container,
.content-container {
  padding: 1em 10%;
}

.header-header {
  display: flex;
  flex: none;
  justify-content: space-between;
  align-items: center;
}

.header-ul-class {
  display: flex;
  gap: 1.5em;
}

.header-ul-class a {
  font-size: 1.3em;
}

.founders-img {
  width: 500px;
  height: auto;
}

.amped-paws-logo {
  width: 80px;
  height: auto;
}

.about-us-container {
  flex: 1;
}

.testimonies-container {
  flex: 1;
}

.sponsors-container {
  flex: 1;
}

.about-us-container,
.testimonies-container,
.sponsors-container {
  height: 500px;
}
