/*

background colors
#020b1a 
#efd394
#ffefca
#6d4d36
#dff1ff

text colors
#020b1a
#ffefca
*/

/* type selectors styling */

* {
  box-sizing: border-box;
  font-family: "Times New Roman", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffefca;
  color: #020b1a;
}

p {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.5em;
}

h1 {
  font-size: 4em;
  margin: 0;
}

h2, h3 {

  text-shadow: -1px 1px 1px black;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.8em;
}

span.h2-line {
  background: #6d4d36;
  display: inline-block;
  height: 5px;
  width: 180px;
  box-shadow: -3px 3px 3px black;
}

span.h3-line {
  background: #009f82;
  display: inline-block;
  height: 5px;
  width: 120px;
  box-shadow: -3px 3px 3px black;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  min-width: 130px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

/* grouped styling */

.header-container,
.footer-container,
.content-container {
  padding: 2em 10%;
}

/* general content styling */
.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header-flex {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* header styling */

.header-container {
  min-height: 60vh;
  background-color: #020b1a;
  border-bottom: 4mm ridge rgb(109 77 54 / 0.6);
  color: #faf4e1;
  display: flex;
  flex-direction: column;
}

.header-header {
  display: flex;
  flex: none;
  justify-content: space-between;
  align-items: center;
}

.header-header img {
  width: 80px;
  height: auto;
}

.header-header a:hover {
  font-weight: bold;
}

.header-ul-class {
  display: flex;
  gap: 1.5em;
}

.header-ul-class a {
  font-size: 1.3em;
}

.header-content {
  display: flex;
  flex: 1;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.header-content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 2em;
}

.header-content-left h1 {
  flex: initial;
}

.header-content-left div {
  flex: 1;
  min-width: 325px;
}

.header-content-left button {
  width: 200px;
  padding: 10px;
  height: auto;
  background-color: #dff1ff;
  border-radius: 15px;
  color: #020b1a;
  font-weight: bold;
  font-size: 1.1em;
  align-self: center;
}

.header-content-right {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
}

/* about us styling */

.about-us-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.about-us-text {
  flex: 1;
  min-width: 325px;
}

.about-us-image {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-image img {
  border: 5px solid #020b1a;
  border-radius: 15px;
  min-width: 400px;
  max-width: 100%;
  height: auto;
}

/* testimonies styling */

.testimonies-container {
  flex: 1;
}

/* sponsors styling */

.sponsors-container {
  flex: 1;
}
