/*

background colors
#020b1a 
#efd394
#ffefca
#6d4d36

text colors
#020b1a
#ffefca
*/

* {
  box-sizing: border-box;
  font-family: "Times New Roman", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #ffefca;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a {
  color: black;
  text-decoration: none;
}

.header-container {
  height: 60vh;
  background-color: #020b1a;
  border-bottom: 4mm ridge rgb(109 77 54 / 0.6);
  color: #faf4e1;
  padding: 1em;
}

.founders-img {
  width: 500px;
  height: auto;
}

.amped-paws-logo {
  width: 50px;
  height: auto;
}
